---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="ABOUT">
    <div class="bg-indigo-500 px-4 py-3 text-white">
        <p class="text-center text-sm font-medium">
          You think this app game should be officially launched?
          <a href="/launch" class="inline-block underline">Please, click here if you agree!</a>
        </p>
      </div>
      <Header />
    <div>ABOUT PAGE</div>
</Layout>