---
import Layout from "../layouts/Layout.astro";
import Game from "../components/Game";
import Header from "../components/Header.astro";
---

<Layout title="4pics-1word">
    <Header />
  <div>This page will contain the game!</div>
  <Game />
</Layout>
