@media only screen and (min-aspect-ratio: 1.5) {
    .top-image-container {
        width: 40%;
        padding-left: 2vw;
    }
    .image-container {
        width: 100%;
    }
}

@media only screen and (max-aspect-ratio: 1.5) {
    .top-image-container {
        width: 90%;
    }
    .image-container {
        width: 100%;
        max-width: 500px;
    }
}