.keyboard {
    row-gap: 5%;
    column-gap: 1%;
}

@media only screen and (min-aspect-ratio: 1.5) {
    .keyboard-container {
        align-items: start;
        justify-content: center;
    }
}

@media only screen and (max-aspect-ratio: 1.5) {
    .keyboard-container {
        align-items: center;
        justify-content: end;
    }
}