.level {
    background-color:crimson;
    
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

@media only screen and (min-aspect-ratio: 1.5) {
    .level {
        width: 10vh;
        height: 10vh;
        font-size: 7vh;
    }
}

@media only screen and (max-aspect-ratio: 1.5) {
    .level {
        width: 10vw;
        height: 10vw;
        font-size: 5vw;
    }
}