.startButton {
    animation: startButton 1.5s ease-in-out 1;
}
@keyframes startButton {
    25% {transform: rotate3d(1,0,0,360deg); }
    50% {transform: translate(0,5vh); }
    100% {transform: rotate3d(1,0,0,360deg); transform: translate(0,-500vh);}
}